In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
fp = '/home/madhatter106/DATA/Beaching_Project/CapeCodData/SpaceWeather/SpaceWeatherDataHourly.txt'
skip_lines=8
dfSW = pd.read_csv(fp, skiprows=skip_lines, delim_whitespace=True,index_col='datetime',
                   parse_dates={'datetime': [0, 1, 2]},
                   date_parser=lambda x: pd.datetime.strptime(x, '%Y %j %H'))

In [3]:
dfSW.head()

,Kp_index,Sunspot_No,Dst_index,AE_index,Proton_flux_gt30MeV,Proton_flux_gt60MeV
datetime,,,,,,
1990-01-01 00:00:00,20,239,-45,54,99999.99,99999.99
1990-01-01 01:00:00,20,239,-46,44,99999.99,99999.99
1990-01-01 02:00:00,20,239,-44,35,99999.99,99999.99
1990-01-01 03:00:00,30,239,-43,66,99999.99,99999.99
1990-01-01 04:00:00,30,239,-47,152,99999.99,99999.99

In [4]:
dfSW.to_pickle('../PklJar/dfSpaceWeather.pkl')